{% extends "layout.html" %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}

<form method="POST" action="{{ url_for('main.logout') }}" class="text-right mr-8 mt-8">
    <button type="submit" class="bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-red-700 transition duration-300">
        Logout
    </button>
</form>
<div class="flex items-center justify-center h-full mt-20">
    <div class="bg-gray-800 border border-gray-200 p-8 rounded-lg shadow-lg w-full max-w-4xl mx-auto mt-10">
        <h2 class="text-2xl font-bold mb-6 text-white text-center">User List</h2>
        <table class="min-w-full mb-2 bg-white border border-gray-200 rounded-lg overflow-hidden">
            <thead class="bg-gray-700 text-white">
                <tr>
                    <th class="py-3 px-4 border-b">Username</th>
                    <th class="py-3 px-4 border-b">Email</th>
                    <th class="py-3 px-4 border-b">Role</th>
                    <th class="py-3 px-4 border-b">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users.items %}
                <tr class="bg-gray-100 even:bg-gray-200">
                    <td class="py-3 px-4 border-b">{{ user.username }}</td>
                    <td class="py-3 px-4 border-b">{{ user.email }}</td>
                    <td class="py-3 px-4 border-b">{{ user.role }}</td>
                    <td class="py-3 px-4 border-b text-center">
                        <a href="{{ url_for('main.edit_user', user_id=user.id) }}" class="text-blue-700 mx-2">edit</a>
                        <form method="POST" action="{{ url_for('main.delete_user', user_id=user.id) }}" class="inline">
                            <button type="submit" class="text-red-600 mx-2" onclick="return confirm('Apakah Anda yakin ingin menghapus data pengguna dengan username {{ user.username }}?')">delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-4 flex">
            {% if users.has_prev %}
                <a href="{{ url_for('main.home', page=users.prev_num) }}" class="px-4 py-2 bg-gray-700 text-white rounded-lg">Previous</a>
            {% endif %}
            <div class="flex-grow"></div>
            {% if users.has_next %}
                <a href="{{ url_for('main.home', page=users.next_num) }}" class="text-right px-4 py-2 bg-gray-700 text-white rounded-lg">Next</a>
            {% endif %}
        </div>
        <div class="mt-4 flex justify-center">
            <a href="/create" 
            class="flex items-center justify-center mx-2 px-4 py-2 bg-blue-600 text-gray-900 rounded-lg shadow-md hover:bg-blue-700 transition duration-300">
            <svg class="w-6 h-6 mr-2 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H7Zm8-1a1 1 0 0 1 1-1h1v-1a1 1 0 1 1 2 0v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
              </svg>
                <span class="text-gray-200">Tambah User</span>
            </a>
            <form method="POST" action="{{ url_for('main.delete_all_users') }}" class="inline">
                <button type="submit" 
                class="flex items-center justify-center mx-2 px-4 py-2 bg-red-500 text-gray-900 rounded-lg shadow-md hover:bg-red-600 transition duration-300"
                onclick="return confirm('Apakah Anda yakin ingin menghapus semua data pengguna?')">
                    <svg class="w-6 h-6 mr-2 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="text-gray-200">Hapus Semua</span>
                </button>
            </form>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                <div class="container">
                    <li class="text-center text-white mt-4 p-4 rounded-lg mb-2 
                    {% if category == 'success' %}
                    bg-green-700
                    {% else %}
                    bg-red-600
                    {% endif %}
                    ">{{ message }}</li>
                </div>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}