<!-- templates/index.html -->
{% extends "layout.html" %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="flex items-center justify-center h-screen">
    <div class="bg-gray border border-gray-200 p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-white text-center">Login</h2>
        <form action="/login" method="POST">
            <div class="mb-4">
                <label for="username" class="block text-white font-semibold mb-2">Username</label>
                <input type="text" id="username" name="username" class="text-white w-full px-3 py-2 bg-gray-800 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-white font-semibold mb-2">Password</label>
                <input type="password" id="password" name="password" class="text-white w-full px-3 py-2 bg-gray-800 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            <button type="submit" class="mb-2 w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition duration-300">Login</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                <div class="container">
                    <li class="text-center text-white mt-4 p-4 rounded-lg mb-2 
                    {% if category == 'success' %}
                    bg-green-700
                    {% else %}
                    bg-red-600
                    {% endif %}
                    ">{{ message }}
                </li>
                </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        <p class="mt-2 text-center text-gray-200">Don't have an account? <a href="{{ url_for('main.register') }}" class="text-blue-500 underline">Sign up here.</a></p>
    </div>
</div>
{% endblock %}